@import url("https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body{
    background-color: #A7C1D9;
}


header .nav-container a{
    display: flex;
    justify-content: center;
    width: 100%;
    }
    header .nav-container img{
        width: 15%;
        }

.justificarCentro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Saira', sans-serif;
    align-items: stretch;
}

.ingresoTurnos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#nombrePaciente, #razaPaciente, #edadPaciente, #pesoPaciente, #tipoServicio, #horarioTurno{
    font-family: 'Saira', sans-serif;
    font-style: italic;
}

h1, h2 {
    color: #253259;
    font-family: 'Saira', sans-serif;
    font-size: 3,5rem
}

#agendaTurnos{
    font-size: 1rem;
    font-family: 'Saira', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#agendaTurnos th, #agendaTurnos td{
    border: .0625rem solid #253259;
    padding: .5rem;
    text-align: left;
}

#agendaTurnos th{
    background-color: #A7C1D9;
    color: #253259;
}

footer{
    display: flex;
    justify-content: center;
    background-image: url(./assets/vet.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10rem;
    color: rgb(147, 209, 206);
    padding: .9375rem 1.875rem 2.5rem .9375rem;
    }
    #footer-btn{
        background-color: rgba(201, 164, 201, 0.39);
        font-size: 3rem;
        border-style: none;
        padding: 1rem 1.5rem;
        cursor: pointer;
        font-family: 'Saira', sans-serif;
    }

.clima {
    text-align: center; 
    font-family: 'Saira', sans-serif;
    }
    
#contenedor-clima {
    margin-top: 1.25rem; 
    }
    
#contenedor-clima img {
    width: 10rem;
    height: auto; 
}